# Node modules
node_modules/

# Next.js build output
.next/

# Logs
logs
*.log

# Dependency lock files (if using Yarn)
package-lock.json

# Mac system files
.DS_Store

# Vercel config and cache
.vercel/